{% extends '../base.html' %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block content %}
<div class="card cd">
  <h1 class="card-header ch">
    {{ request.method }} <u>{{ request.get_full_path }}</u>
  </h1>

  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-primary">
        <pre>
<b>HTTP {{ response.status_code }} {{ response.status_text }}</b>
{% for key, val in response_headers|items %}
<b>{{ key }}:</b>
<span class="lit">{{ val|break_long_headers|urlize }}</span>
{% endfor %}
        </pre>
        <pre class="json">
{{ content|urlize }}
        </pre>
      </li>
    </ul>
  </div>
  <a class="btn" href="?format=json">JSON</a>
</div>
<footer class="ft border bg-light">&copy; 2021 ArtesGC-DevSoft.</footer>
{% endblock content %}
