{% extends '../base.html' %}
{% load i18n %}
{% load rest_framework %}

{% block content %}
<div class="card cd">
  <h1 class="card-header ch">
    {{ request.method }}: <i>{{ request.get_full_path }}</i>
  </h1>

  <div class="card-body">
    <div class="list-group list-group-horizontal">
      <b>Dados do Cabeçalho:</b>
      <div class="list-group-item list-group-item-primary">
        <b>HTTP | {{ response.status_code }} | {{ response.status_text }}</b>
      </div>
      {% for key, val in response_headers|items %}
      <div class="list-group-item list-group-item-primary">
        <b>{{ key }}:</b> <span class="lit">{{ val|break_long_headers|urlize }}</span>
      </div>
      {% endfor %}
    </div>
    <div class="list-group list-group-flush">
      <div class="list-group-item list-group-item-primary">
        <b>Resposta em JSON:</b>
        <pre class="json">
{{ content|urlize }}
        </pre>
      </div>
    </div>
  </div>
  <a class="btn" href="?format=json">Recolher JSON</a>
</div>
{% endblock content %}
