{% extends 'base.html' %}

{% block content %}
  <div class="card cd">
    <h1 class="card-header text-center">Introdução</h1>
    <p class="card-body text-center">
        Com exatamente 240 valores a <b>IndiG API</b> está composta
        por apenas 2 endpoints, correspondentes ao:
    </p>

    <div class="column">
        <div class="lgip list-group-item list-group-item-primary">
            <dt>Retorno Total Dos Valores:</dt>
            <code class="endpoint">indigc.herokuapp.com/indicativos/</code>
        </div>
        <br>
        <div class="lgip list-group-item list-group-item-primary">
          <dt>E ao Retorno De Um Valor Específicado Pelo Seu Nome:</dt>
          <code class="endpoint">indigc.herokuapp.com/pais/[nome_do_pais]/</code>
        </div>
        <div class="lgip list-group-item list-group-item-secondary">
                <i >
                    <b>Ou ainda, acesse a lista de paises disponibilizada
                        <a href="{{ url_for('paises') }}">aqui</a>
                        e requisite os valores individualmente de forma simples.</b>
                </i>
        </div>
    </div>
  </div>
  <br>
  <div class="card cd">
    <h1 class="card-header text-center">Formatos Válidos</h1>
    <p class="card-body text-center">A IndiG retorna dois formatos padrões:</p>

    <div class="column">
        <div class="lgip list-group-item list-group-item-primary">
            <dt>JSON</dt>
            <dd>
            Para retorno de um <b>JSON</b>, existem <b>URLs</b> expecificos que retornam os valores
            requisitados, como mostra <b><a href="#er">a lista aqui em baixo</a></b>.
            </dd>
        </div>
        <br>
        <div class="lgip list-group-item list-group-item-primary">
            <dt>API Responsiva</dt>
            <dd>
              Para ter acesso aos valores de forma navegável e responsiva,
              basta abrir o <b>URL</b> da <b>API</b> num navegador.
            </dd>
        </div>
    </div>
  </div>
  <br>
  <div class="card cd">
    <h1 class="card-header text-center" id="er">Endpoints & Responses</h1>
    <div class="card-body">
      <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-primary">
          <dt>Lista de Indicativos:</dt>
          <pre class="json">
// GET: <a href="https://indigc.herokuapp.com/indicativos/">https://indigc.herokuapp.com/indicativos/</a>

[
  {
    "indicativo": 93,
    "pais": "AFEGANISTAO"
  },
  {
    "indicativo": 27,
    "pais": "AFRICA DO SUL"
  },
  {
    "indicativo": 1907,
    "pais": "ALASKA"
  },
  {
    "indicativo": 355,
    "pais": "ALBANIA"
  },
  {
    "indicativo": 49,
    "pais": "ALEMANHA"
  },
  ...
]
        </pre>
        </div>
        <br>
        <div class="list-group-item list-group-item-primary">
          <dt>Valor Específico:</dt>
          <pre class="json">
// GET: <a href="https://indigc.herokuapp.com/pais/angola/">https://indigc.herokuapp.com/pais/angola/</a>

{
  "indicativo": 244,
  "pais": "ANGOLA"
}
        </pre>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
