<!-- importing code from our base template -->
{% extends 'base.html' %}

<!-- if we wish to add some code to our head (from base-template) we can...
     call the block head and put into it our code such as... -->
{% block head %}
<!-- and the code goes here... -->
{% endblock head %}

<!-- adding some extra code to our body (from base-template) -->
{% block content %}
<div class="card">
    <h1 class="card-header text-center">Lista de Paises</h1>
    <div class="card-body text-center row">
    {% for pais in p %}
        <div class="lgi list-group-item list-group-item-primary">
            <a href="{{ url_for('pais', _pais=pais|lower) }}">
                <h4>{{ pais|title }}</h4>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}
