{% extends 'base.html' %}

{% block content %}
  <div class="card cd text-center">
    <h1 class="card-header">Informações sobre o Projecto</h1>
    <div class="card-body">
      <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-primary">
          Nome: <b>API IndiG - INDICATIVOS GLOBAIS</b>
        </div>
        <br>
        <div class="list-group-item list-group-item-primary">
          Versão: <b>2.2-102021</b>
        </div>
        <br>
        <div class="list-group-item list-group-item-primary">
          Programador e Designer:
          <b>
            <a href="https://github.com/Nurul-GC">Nurul-GC</a> &
            <a href="https://github.com/Paulo-Lopes-Estevao">Paulo-Lopes-Estevao</a>
          </b>
        </div>
        <br>
        <div class="list-group-item list-group-item-primary">
          Empresa: <b>&trade;<a href="https://artesgc.home.blog">ArtesGC Inc</a></b>
        </div>
        <br>
        <div class="list-group-item list-group-item-primary">
          <a href="https://github.com/Nurul-GC/indicativos-globais">
            <img src="https://github.com/Nurul-GC/Nurul-GC/raw/main/img/github-icon.svg"
                 alt="github-icon" title="Repositorio da API no GitHub!"></a>
          <img src="https://img.shields.io/github/license/Nurul-GC/indicativos-globais.svg"
               alt="license-icon">
          <img src="https://img.shields.io/github/release/Nurul-GC/indicativos-globais.svg"
               alt="github-release-info">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
