*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.navbar .navbar-brand img {
  height: 70px;
  -webkit-transition: height .5s;
  transition: height .5s;
  -o-object-fit: cover;
     object-fit: cover;
}

body{
  font-family:'Ledger';
}
.endpoint{
  background-color:#E5E5E5;
  padding:3px;
  border-radius:3px;
  color:black;
}
li{
  padding:5px;
}
.bg{
  background-color:#5AF;
}
.brand-img{
  margin-left:10px;
  margin-right:75%;
}
.json{
  background-color:white;
  padding:10px;
  color:gray;
  width:auto;
  border-radius:3px;
}
.ft{
  text-align:center;
  font-size:8pt;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:20px;
}
.cd{
  margin:auto;
  border-radius:10px;
  width:80%;
  padding:20px;
}
.btn{
  border-width:1px;
  border-color:gray;
  border-radius:5px;
  width:auto;
}
.btn:hover{
  border-width:1px;
  border-color:gray;
  border-radius:5px;
  color:black;
  background-color:#5AF;
}
/* ul{
  width:auto;
} */
.ch{
  text-align:center;
}
