*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.nb{
  margin-bottom: 20px;
}

.navbar .navbar-brand img {
  height: 70px;
  -webkit-transition: height .5s;
  transition: height .5s;
  -o-object-fit: cover;
     object-fit: cover;
}

.brand-img:hover{
  padding: 1px;
}

.endpoint{
  background-color: #E5E5E5;
  padding: 3px;
  border-radius: 3px;
  color: black;
}

.bg{
  background-color: #5AF;
}

.json{
  background-color: white;
  padding: 10px;
  color: gray;
  width: auto;
  border-radius: 3px;
}

.ft{
  text-align: center;
  font-size: 8pt;
  padding: 5px;
  margin-top: 20px;
}

.cd{
  margin: auto;
  border-radius: 10px;
  width: 80%;
  padding: 20px;
}

.botao{
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  width: auto;
  color: black;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #5AF;
}
.botao:hover{
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  color: black;
  background-color: #B8DAFF;
}

.lgi{
  width: 200px;
  margin: auto;
}
