<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load static %}

<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ledger&display=swap" rel="stylesheet">

  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <link rel="apple-touch-icon" sizes="180x180"
        href="{% static '/favicons/apple-touch-icon.png' %}">
  <link rel="icon" sizes="32x32" type="image/png"
        href="{% static '/favicons/favicon-32x32.png' %}">
  <link rel="icon" sizes="16x16" type="image/png"
        href="{% static '/favicons/favicon-16x16.png' %}">
  <link rel="shortcut icon"  type="image/x-icon"
        href="{% static '/favicons/favicon.ico' %}">
  <link rel="manifest"
        href="{% static '/favicons/site.webmanifest' %}">
  <link rel="stylesheet"  type="text/css"
        href="{% static '/css/base.css' %}">

  <title>IndiG</title>

  {% block extra_head %}{% endblock extra_head %}
</head>
<body class="bg">
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <div class="container-fluid">
      <a class="navbar-brand brand-img" href="{% url 'index' %}">
        <img src="{% static '/favicons/favicon-192x192.png' %}"
             width="60" height="60" alt="...">
      </a>
      <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="true"
          aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn nav-link" href="/api/" title="">Raiz da API</a>
          </li>
          <li class="nav-item">
            <a class="btn nav-link" href="/api/indicativos/" title="">Lista de Indicativos</a>
          </li>
          <li class="nav-item">
            <a class="btn nav-link" href="{% url 'sobre' %}">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}{% endblock content %}
</body>
</html>
