{% extends 'base.html' %}
{% block content %}
  <div class="card cd">
    <h1 class="card-header">indicativos-globais</h1>
    <p class="card-body">
      Com exatamente 240 valores a <b>IndiG API</b> esta composta
      por apenas 2 endpoints, correspondentes ao:
    </p>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item list-group-item-primary">
        <dt>Retorno Total Dos Valores:</dt>
        <code class="endpoint">indigc.herokuapp.com/api/indicativos/</code>
      </li>
      <li class="list-group-item list-group-item-primary">
        <dt>E ao Retorno De Um Valor Específicado Pelo Seu Número ‘id’:</dt>
        <code class="endpoint">indigc.herokuapp.com/api/indicativos/[id]/</code>
      </li>
    </ul>
  </div>
  <div class="card cd">
    <h1 class="card-header">Formatos Validos</h1>
    <p class="card-body">A IndiG aceita dois formatos padrao:</p>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item list-group-item-primary">
        <dt>JSON</dt>
        <dd>Para retorno de um JSON o <b>URI</b> da <b>API</b> deve estar acompanhado da
          consulta <span class="endpoint">?format=json</span> no final.</dd>
      </li>
      <li class="list-group-item list-group-item-primary">
        <dt>API Navegável</dt>
        <dd>Para ter acesso aos valores de forma navegavel, basta abrir o <b>URI</b> da <b>API
        </b> num navegador, mas, sem o valor da consulta.</dd>
      </li>
    </ul>
  </div>
  <div class="card cd">
    <h1 class="card-header">Endpoints - Responses</h1>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-primary">
          <dt>Raiz API:</dt>
          <dd class="json">
            // GET: https://indigc.herokuapp.com/api/?format=json<br><br>
            {"indicativos": "https://indigc.herokuapp.com/api/indicativos/?format=json"}
          </dd>
        </li>
        <li class="list-group-item list-group-item-primary">
          <dt>Lista de Paizes e Indicativos:</dt>
          <dd class="json">
            // GET: https://indigc.herokuapp.com/api/indicativos/?format=json<br><br>
            [<br>
              {"id": 1, "pais": "(AFEGANISTÃO, 93)"},<br>
              {"id": 2, "pais": "(ÁFRICA DO SUL, 27)"},<br>
              {"id": 3, "pais": "(ALASKA, 1907)"},<br>
              ...<br>
            ]
          </dd>
        </li>
        <li class="list-group-item list-group-item-primary">
          <dt>Valor Especifico</dt>
          <dd class="json">
            // GET: https://indigc.herokuapp.com/indicativos/7/?format=json <br><br>
            {"id": 7, "pais": "(ANGOLA, 244)"}
          </dd>
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}
