{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<style>
  .sobre-cd{
    background-image:url("{% static 'favicons/favicon-16x16.png' %}");
    background-color:black;
    color:white;
  }
</style>
{% endblock extra_head %}
{% block content %}
<div class="card cd sobre-cd">
  <h1 class="card-header">Informações sobe o Projecto</h1>
  <div class="card-body" style="text-align:center;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-primary">
        Nome: <b>API IndiG - INDICATIVOS GLOBAIS</b>
      </li>
      <li class="list-group-item list-group-item-primary">
        Versão: <b>1.4-092021</b>
      </li>
      <li class="list-group-item list-group-item-primary">
        Programador e Designer: <b><a href="https://github.com/Nurul-GC">Nurul-GC</a></b>
      </li>
      <li class="list-group-item list-group-item-primary">
        Empresa: <b>&trade;<a href="https://artesgc.home.blog">ArtesGC Inc</a></b>
      </li>
      <li class="list-group-item list-group-item-primary">
        <b><a href="https://github.com/Nurul-GC/indicativos-globais">
          <img src="https://github.com/Nurul-GC/Nurul-GC/raw/main/img/github-icon.svg"
               alt="github-icon" title="Repositorio da API no GitHub!">
        </a></b>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
